{%
  set classes = [
    'region--' ~ region|clean_class,
  ]
%}

{% if content %}
  <div class="hero-wrapper">
      <div{{ attributes.addClass(classes).setAttribute('id', 'hero') }}>
          {{ content }}
      </div>
  </div>
{% endif %}