{% extends "node--teaser.html.twig" %}

{% block card_body %}
    {%- block field_value %}
        <div class="teaser__date">{{ date }}</div>
    {%- endblock -%}

    {% if content.group_name %}
        {% embed "node--teaser__field.html.twig" %}
            {%- block field_icon -%} {% trans %}group{% endtrans %}{%- endblock -%}
            {%- block field_value -%} {{ content.group_name }} {%- endblock -%}
        {% endembed %}
    {% endif %}
{% endblock %}
