{% extends "node--teaser.html.twig" %}

{% block card_body %}
    <div class="teaser__date">{{ date }}</div>
    {% if content.group_name %}
        {% embed "node--teaser__field.html.twig" %}
            {%- block field_icon -%}{% trans %} group{% endtrans %} {%- endblock -%}
            {%- block field_value -%} {{ content.group_name }} {%- endblock -%}
        {% endembed %}
    {% endif %}

    {% if content.field_group %}
        {% embed "node--teaser__field.html.twig" %}
            {%- block field_icon -%}{% trans %} group{% endtrans %} {%- endblock -%}
            {%- block field_value -%} {{ content.field_group }} {%- endblock -%}
        {% endembed %}
    {% endif %}
    {{ content.field_article_comments }}
{% endblock %}